:root {
    --background: #151515;
    --subsection: #303030;
    --color: #fafafa;
    --accent: #9e281e;
}
body {
    background-color: var(--background);
    color: var(--color);
    padding: 15px;
    padding-top: 5px;
    font-family: "Work Sans", sans-serif;
    font-size: 1em;
}
.flex {
    display: flex;
    align-items: center;
}
.flex > input {
    margin-right: 10px;
}
.subsection {
    background-color: var(--subsection);
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
    border-radius: 16px;
}
.subsection > h3 {
    text-align: center;
}
a {
    color: var(--color);
}
.title > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--background);
    margin: 5px;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    border: 2px solid var(--accent);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }
  
  input[type="checkbox"]:checked {
    background-color: var(--accent);
  }
  input[type="checkbox"]:checked:after {
    content: '';
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M20.285 6.289a1 1 0 0 0-1.414 0l-11.36 11.36-4.95-4.95a1 1 0 1 0-1.414 1.414l5.657 5.657a1 1 0 0 0 1.414 0l12.067-12.067a1 1 0 0 0 0-1.414z"/></svg>') no-repeat center center;
    background-size: contain;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 8px;
    color: var(--color);
    background-color: var(--subsection);
    height: 30px;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    transition: filter 0.15s ease-in-out;
    border: 1px solid var(--color);
  }
  button:hover {
    cursor: pointer;
    filter: brightness(150%);
  }